body{
	margin: 0px;
	padding: 0px;
	color: white;
	background-image: url(../images/4.jpg);
	background-size:cover;
}
.loading{
	position: absolute;
	left: 22%;
	top: 30%;
	width: 100%;
}

/*页面框架布局*/
.box{
	width: 100%;
	display: none;
}
.top{
	width: 100%;
	margin: 0 auto;
}
.bottom{
	width: 100%;
	margin-top: 1%;
}
.left{
	width: 33%;
	float: left;
	margin-left: 1%;
}
.right{
	width: 64.4%;
	float: left;
	margin-left: 0.74%;
}
.left-top{
	width: 100%;
	margin-left: 0%;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);	
}
.left-bottom{
	width: 100%;
	margin-left: 0%;
	margin-top: 1.7%;
}
.right-top{
	width: 100%;
	
}
.right-top1{
	width: 68.7%;
	float: left;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
.right-top2{
	width: 29.7%;
	float: left;
	margin-left: 0.9%;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
.right-bottom{
	width: 100%;
	margin-top: 1.2%;

}
.right-bottom1{
	width: 24%;
	float: left;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
.right-bottom2{
	width: 43.7%;
	float: left;
	margin-left: 1%;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
.right-bottom3{
	width: 29.7%;
	float: right;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
select{
	width: 100px;
	height: 27px;
	font-size: 15px;
	border: 1px solid rgb(48,116,239);
}
.language-title{
	width: 75px;
	color: rgb(38,231,225);
	float: left;
}
.select-language{
	margin-left: 4%;
	margin-top: 2%;
	float: left;
	width: 14%;
	color: rgb(48,116,239);
}
.date-show{
	position: absolute;
	right: 2%;
	margin-top: 2%;
	width: 17%;
	float: left;
}
#now-date{
	color: rgb(38,231,225);
	font-size: 15px;
	font-weight: bold;
}
.ptitle1{
	margin-left: 7%;
	margin-top: 3.3%;
	font-size: 14px;
}
.ptitle2{
	margin-left: 10%;
	margin-top: 5.5%;
	font-size: 14px;
}
.ptitle3{
	margin-left: 5%;
	margin-top: 3%;
	font-size: 14px;
}
.ptitle4{
	margin-left: 7%;
	margin-top: 8%;
	font-size: 14px;
}
.right-top-top{
	margin-top: 5%;
}
.right-top-bottom{
	width: 100%;
	margin-top: 12%;
}
.iframel{
	position: relative;
	left: 2.5%;
}
.title-logo{
	float: left;
	margin-left: 13%;
	position: relative;
}
.out{
	position: absolute;
	text-align: center;
	width: 650px;
	top: 17px;

	display: inline-block;
	color: green;
	font-size: 1.5em; 
	font-family: ´微软雅黑´;
	background-image: -webkit-linear-gradient(#00ffcc, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title-logo img{
	height: 70px;
	width: 100%;
}
.leftt{
	float: left;
	display: block;
	width: 64.5%;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
.rightt{
	float: left;
	display: block;
	width: 32.5%;
	margin-left: 1.5%;
	border: 1px solid rgb(48,116,239);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(48,116,239);
}
.Qr-code{
	width: 55%;
	margin-left: 22%;
	margin-top: 5%;
}
.logo{
	width: 27%;
	height: 18%;
	margin-left: 40%;
	margin-top: 20%;
}
.logo-title{
	height: 16%;
	margin-left: 15%;
	margin-top: 5%;
}

.ptitle1,.ptitle2,.ptitle3,.ptitle4{
	margin-left: 7%;
	margin-top: 3.2%;
	font-size: 13px;
	display: block;
	height: 30px;
	width: 140px;
	line-height: 30px;
	border-radius: 5px;
	padding-left: 5px;
	background: -webkit-linear-gradient(left,rgba(106,47,240,1),rgba(106,47,240,0)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,rgba(106,47,240,1),rgba(106,47,240,0)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,rgba(106,47,240,1),rgba(106,47,240,0)); /* Firefox 3.6 - 15*/
  	background: linear-gradient(to right, rgba(106,47,240,1), rgba(106,47,240,0)); 
}
/*echarts布局*/

#main1{
	width: 100%;
	height: 90%;
}
#main3{
	width: 100%;
	height: 87%;
	margin-top: 3%;
}
#main4{
	width: 98%;
	height: 98%;
}
#main5{
	width: 98%;
	height: 98%;
}
#main6,#main7,#main8{
	width: 98%;
	height: 100%;
}

